<div class="item-title">
  <i class="fa fa-briefcase item-icon"></i>
  <span>工作经历</span>
</div>
<ul class="li-dot">
  <li>
    <div class="item-info">
      <span class="time">1016.8-至今</span>
      <span class="company">海云数据</span>
      <span class="job">前端工程师</span>
    </div>
    <ul class="item-list">
      <li>
        <p>昆明市公安局警务综合展示平台</p>
        <div class="text">
          <p>
             该项目的业务功能是对昆明市海量的警务数据进行全面监控，根据全市警务数据进行集中可视化大屏展示，从而帮助警务人员全面快速的掌握警务信息，做出相应的决策。
          </p>
          <p>
             该项目分为五个专题部分，共计十六个页面，在该项目中担任项目前端开发负责人，参与需求评审、工时评估和技术可行性评估工作，统筹前后端接口文档编写、页面设计稿还原、前后端联调的整体工作
          </p>
          <p>
            在项目开发中，图表的实现采用的是 D3.js ，js 模块化采用的是 seajs
          </p>
        </div>
      </li>
      <li>
        <p>重庆技侦执法办案可视化展示</p>
        <div class="text">
          <p>该项目的业务功能是通过酷炫的页面，展示出执法监督整个流程的数据及成果。</p>
          <p>项目共计六个页面，主要参与了其中两个页面的API接口文档编写、前端页面还原和前后端接口联调等工作，该项目的难点在于页面复杂的交互逻辑，以及图表动画的实现。</p>
        </div>
      </li>
    </ul>
  </li>
</ul>